.navbar-container {
  width: 50rem;
  margin: 20px auto;
  margin-bottom: 50px;
  padding: 0 1rem;
}

nav {
  display: flex;
  align-items: center;
  height: 60px;
  margin-left: -11px;
}

a {
  text-decoration: none;
  padding: 0.5em 0.8em;
  border-radius: 0.5em;
  letter-spacing: -0.02em;
  color: #888888;
  font-weight: 430;
}

a:hover {
  background-color: #202020;
}

main {
  padding: 0 1rem;
  margin: auto;
  width: 50rem;
}

h1 {
  font-weight: 900;
  font-size: 2.2em;
  letter-spacing: -0.05em;
}

h2 {
  font-weight: 400;
  margin-top: -20px;
  font-size: large;
  color: 	#DCDCDC;
}

p {
  color: 	#888888;
  margin-top: 30px;
}
